<ion-header>
  <ion-toolbar class="custom-header-toolbar">
    <!-- Left: Search Bar -->
    <ion-searchbar placeholder="Search" showCancelButton="focus"></ion-searchbar>

    <!-- Right: Notification and Profile -->
    <ion-buttons slot="end">
      <!-- Notification Icon -->
      <ion-button fill="clear">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

      <!-- Profile Icon -->
      <ion-button fill="clear">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
